html[data-theme="dark"] {
    .bio {
        &_block {
            a {
                color: $darklink;
                &:hover {
                    color: $darkborder;
                }
            }
        }
    }
}

html[data-theme="light"] {
    .bio {
        label {
            background: $lightlink;
        }
        &_block {
            a {
                color: $lightlink;
                &:hover {
                    color: $lightborder;
                }
            }
        }
    }
}


.bio {
    display: flex;
    justify-content: center;
    align-items: center;
    
    &_wrapper {
        width: 850px;
    }
    &_block {
        padding: 20px 0;
        h3 {
            font-size: 24px;
            padding-bottom: 8px;
        }
        a {
            font-weight: 700;
            text-decoration: none;
            transition: 0.2s all ease-in-out;
        }
        ul {
            list-style: none;
            li {
                padding: 5px 0;
                i {
                    font-size: 20px;
                }
            }
        }
    }
}

@media only screen and  (max-width: 768px) {
    .bio {
        padding: 0 8.5%;
        font-size: 16px;
    }
}