::-webkit-scrollbar {
    width: 10px;
}

html[data-theme="dark"] {
    ::-webkit-scrollbar-track {
        background: $darkbg;
        transition: 0.2s all ease-in-out;
    }

    ::-webkit-scrollbar-thumb {
        background: $darklink;
        transition: 0.2s all ease-in-out;
    }    
}

html[data-theme="light"] {
    ::-webkit-scrollbar-track {
        background: $lightbg;
        transition: 0.2s all ease-in-out;
    }

    ::-webkit-scrollbar-thumb {
        background: $lightlink;
        transition: 0.2s all ease-in-out;
    }
}