$primaryBlack: black;
$primaryLight: white;
$accentColor: #67A8B7;
$backgroundColor: rgb(41, 41, 41);
$cardColor: rgb(49, 49, 49);
$borderColor: rgb(107, 107, 107);
@import '_themes', 
        '_fonts',
        '_html', 
        '_timeline', 
        '_bio', 
        '_hero', 
        '_contact', 
        '_projects';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
