@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&display=swap");
html[data-theme="dark"] {
  background-color: #292929;
  color: white;
}

html[data-theme="dark"] h2 {
  border-left: 6px solid white;
}

html[data-theme="light"] {
  background-color: #fffad2;
  color: #363636;
}

html[data-theme="light"] h2 {
  border-left: 6px solid #363636;
}

html {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 1px;
  scroll-behavior: smooth;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

html h2 {
  padding-left: 5px;
  margin-bottom: 20px;
  font-size: 32px;
}

html[data-theme="dark"] .timeline_container ul li {
  background-color: #313131;
}

@media only screen and (min-width: 768px) {
  html[data-theme="dark"] .timeline_container ul li::after {
    background-color: white;
  }
  html[data-theme="dark"] .timeline_container ul li:hover::after {
    background-color: #67A8B7;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  html[data-theme="dark"] .timeline_container::before {
    background-color: white;
  }
}

html[data-theme="light"] .timeline_container ul li {
  background-color: #f1ecc0;
}

@media only screen and (min-width: 768px) {
  html[data-theme="light"] .timeline_container ul li::after {
    background-color: #363636;
  }
  html[data-theme="light"] .timeline_container ul li:hover::after {
    background-color: #5cc4bf;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  html[data-theme="light"] .timeline_container::before {
    background-color: #363636;
  }
}

.timeline {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.timeline_container {
  width: 80%;
  height: auto;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
}

.timeline_container ul {
  list-style: none;
}

.timeline_container ul li {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.timeline_container ul li:last-child {
  margin-bottom: 0;
}

.timeline_content h1 {
  font-size: 22px;
  font-weight: 900;
  line-height: 30px;
  margin-bottom: 10px;
}

.timeline_content p {
  font-size: 16px;
  line-height: 25px;
}

.timeline_content .date {
  font-size: 12px;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

@media only screen and (min-width: 768px) {
  .timeline_container ul li {
    width: 50%;
    margin-bottom: 50px;
    position: relative;
  }
  .timeline_container ul li:nth-child(odd) {
    float: left;
    clear: right;
    -webkit-transform: translateX(-30px);
            transform: translateX(-30px);
    border-radius: 10px 0 10px 10px;
  }
  .timeline_container ul li:nth-child(odd)::after {
    -webkit-transform: translate(50%, -50%);
            transform: translate(50%, -50%);
    right: -30px;
  }
  .timeline_container ul li:nth-child(even) {
    float: right;
    clear: left;
    -webkit-transform: translateX(30px);
            transform: translateX(30px);
    border-radius: 0 10px 10px 10px;
  }
  .timeline_container ul li:nth-child(even)::after {
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    left: -30px;
  }
  .timeline_container ul li::after {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    top: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .timeline_container ul li:hover::after {
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
  }
  .timeline_container::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  .timeline_content .date {
    position: absolute;
    top: -30px;
  }
}

html[data-theme="dark"] .bio_block a {
  color: #67A8B7;
}

html[data-theme="dark"] .bio_block a:hover {
  color: #6b6b6b;
}

html[data-theme="light"] .bio label {
  background: #5cc4bf;
}

html[data-theme="light"] .bio_block a {
  color: #5cc4bf;
}

html[data-theme="light"] .bio_block a:hover {
  color: #6b6b6b;
}

.bio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bio_wrapper {
  width: 850px;
}

.bio_block {
  padding: 20px 0;
}

.bio_block h3 {
  font-size: 24px;
  padding-bottom: 8px;
}

.bio_block a {
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.bio_block ul {
  list-style: none;
}

.bio_block ul li {
  padding: 5px 0;
}

.bio_block ul li i {
  font-size: 20px;
}

@media only screen and (max-width: 768px) {
  .bio {
    padding: 0 8.5%;
    font-size: 16px;
  }
}

html[data-theme="dark"] .hero .logo {
  color: white;
}

html[data-theme="dark"] .hero .logo_content {
  border: 7px solid white;
}

html[data-theme="dark"] .hero .logo_content:hover {
  color: #67A8B7;
  border-color: #67A8B7;
}

html[data-theme="dark"] .hero_info {
  color: white;
}

html[data-theme="dark"] .hero_info a {
  border: 2px solid #67A8B7;
}

html[data-theme="dark"] .hero_info_cv {
  background-color: #67A8B7;
  color: #292929;
}

html[data-theme="dark"] .hero_info_cv:hover {
  background-color: #292929;
  color: #67A8B7;
}

html[data-theme="dark"] .hero_socials a {
  color: white;
}

html[data-theme="dark"] .hero_socials a:hover {
  color: #67A8B7;
}

html[data-theme="dark"] .hero nav a {
  color: white;
}

html[data-theme="dark"] .hero nav a::after {
  background-color: white;
}

html[data-theme="dark"] .hero nav a:hover {
  color: #67A8B7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html[data-theme="dark"] .hero nav a:hover::after {
  background-color: #67A8B7;
}

@media only screen and (max-width: 768px) {
  html[data-theme="dark"] .hero .logo_content {
    border: 6px solid white;
  }
  html[data-theme="dark"] .hero nav li {
    border-bottom: 2px solid white;
  }
  html[data-theme="dark"] .hero nav ul {
    background-color: #313131;
  }
}

html[data-theme="light"] .hero .logo {
  color: #363636;
}

html[data-theme="light"] .hero .logo_content {
  border: 7px solid #363636;
}

html[data-theme="light"] .hero .logo_content:hover {
  color: #5cc4bf;
  border-color: #5cc4bf;
}

html[data-theme="light"] .hero_info {
  color: #363636;
}

html[data-theme="light"] .hero_info a {
  border: 2px solid #5cc4bf;
}

html[data-theme="light"] .hero_info_cv {
  background-color: #5cc4bf;
  color: #fffad2;
}

html[data-theme="light"] .hero_info_cv:hover {
  background-color: #fffad2;
  color: #5cc4bf;
}

html[data-theme="light"] .hero_socials a {
  color: #363636;
}

html[data-theme="light"] .hero_socials a:hover {
  color: #5cc4bf;
}

html[data-theme="light"] .hero nav a {
  color: #363636;
}

html[data-theme="light"] .hero nav a::after {
  background-color: #363636;
}

html[data-theme="light"] .hero nav a:hover {
  color: #5cc4bf;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

html[data-theme="light"] .hero nav a:hover::after {
  background-color: #5cc4bf;
}

@media only screen and (max-width: 768px) {
  html[data-theme="light"] .hero .logo_content {
    border: 6px solid #363636;
  }
  html[data-theme="light"] .hero nav li {
    border-bottom: 2px solid #363636;
  }
  html[data-theme="light"] .hero nav ul {
    background-color: #f1ecc0;
  }
}

.hero {
  padding: 0 8.5%;
  margin-bottom: 500px;
  position: relative;
}

.hero .logo {
  text-decoration: none;
}

.hero .logo_content {
  padding: 1px 10px;
  font-size: 36px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.hero_logo {
  width: 70px;
  cursor: pointer;
}

.hero_info {
  margin-top: 15%;
  font-size: 17px;
}

.hero_info h1 {
  font-size: 75px;
  margin-bottom: 30px;
}

.hero_info a {
  margin-top: 30px;
  font-weight: 700;
  display: inline-block;
  border-radius: 6px;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero_info .hero_info_cv {
  font-weight: 700;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hero_socials {
  margin-top: 30px;
}

.hero_socials a {
  font-size: 30px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  margin-right: 20px;
}

.hero nav {
  margin: 0 auto;
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.hero nav .label {
  background-color: #233853;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  border-radius: 100px;
  width: 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 15px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  cursor: pointer;
}

.hero nav .label .fa-moon {
  margin-left: -3px;
  font-size: 16px;
  color: #ffee01;
}

.hero nav label .fa-sun {
  margin-right: -3px;
  font-size: 16px;
  color: #ffaf01;
}

.hero nav .blob {
  position: absolute;
  left: 50%;
  width: 23px;
  height: 23px;
  background: white;
  border-radius: 50px;
  -webkit-transition: .5s ease all;
  transition: .5s ease all;
}

.hero nav .checkbox {
  opacity: 0;
  position: absolute;
}

.hero nav .checkbox:checked + .label .blob {
  left: 5px;
}

.hero nav .checkbox:checked + .label {
  background-color: #80dffc;
}

.hero nav ul {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: right;
  padding-right: 40px;
}

.hero nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

.hero nav ul li a {
  text-decoration: none;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  position: relative;
}

.hero nav #click {
  display: none;
}

.hero nav label {
  display: none;
}

.hero nav label i {
  font-size: 28px;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .hero .logo {
    margin-top: 20px;
  }
  .hero .logo_content {
    padding: 1px 8px;
    font-size: 28px;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
  }
  .hero_info {
    margin-top: 10vh;
  }
  .hero_info h1 {
    font-size: 34px;
  }
  .hero_info p {
    font-size: 16px;
  }
  .hero_info p br {
    display: none;
  }
  .hero_info .hero_info_cv {
    margin-left: 0;
  }
  .hero nav label {
    display: block;
  }
  .hero nav ul {
    position: fixed;
    padding: 0;
    margin: 0 auto;
    left: 0;
    right: 0;
    top: 100px;
    border-radius: 10px;
    height: 140px;
    width: 200px;
    text-align: center;
    -webkit-transition: 0.2s all ease-in-out;
    transition: 0.2s all ease-in-out;
    z-index: -10;
    opacity: 0;
  }
  .hero nav ul li {
    display: block;
    padding: 7px;
  }
  .hero nav ul li:last-child {
    border: none;
  }
  .hero nav ul li a::after {
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: 23px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: width 0.3s;
    transition: width 0.3s;
  }
  .hero nav ul li a:hover {
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
  }
  .hero #click:checked ~ ul {
    top: 100px;
    display: block;
    opacity: 1;
    z-index: 10;
  }
}

.contact {
  height: 100vh;
  background-color: #292929;
}

.contact_container {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_form {
  width: 500px;
  height: 400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_form form input, .contact_form form textarea {
  width: 400px;
  background-color: #292929;
  border: none;
  border-bottom: 1px solid #6b6b6b;
  color: white;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-bottom: 20px;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

.contact_form form input:focus, .contact_form form textarea:focus {
  outline: none;
  border-bottom-color: white;
  color: white;
  font-size: 18px;
}

.contact_form form input:focus::-webkit-input-placeholder, .contact_form form textarea:focus::-webkit-input-placeholder {
  color: white;
}

.contact_form form input:focus:-ms-input-placeholder, .contact_form form textarea:focus:-ms-input-placeholder {
  color: white;
}

.contact_form form input:focus::-ms-input-placeholder, .contact_form form textarea:focus::-ms-input-placeholder {
  color: white;
}

.contact_form form input:focus::placeholder, .contact_form form textarea:focus::placeholder {
  color: white;
}

.contact_form form input {
  height: 50px;
}

.contact_form form textarea {
  height: 120px;
  resize: none;
}

.contact_form form button {
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 1px;
  margin-top: 15px;
  font-weight: 700;
  border-radius: 6px;
  border: 2px solid #67A8B7;
  color: #292929;
  background-color: #67A8B7;
  padding: 10px 30px;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.contact_form form button:hover {
  color: #67A8B7;
  background-color: #292929;
}

.contact_header {
  width: 500px;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_header h2 {
  font-size: 72px;
  padding-left: 20px;
}

html[data-theme="dark"] .projects_item a {
  color: white;
}

html[data-theme="light"] .projects_item a {
  color: #363636;
}

.projects {
  width: 850px;
  margin: 0 auto;
}

.projects_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.projects_header {
  display: block;
  width: 100%;
  margin-bottom: 50px;
}

.projects_item {
  width: 400px;
  margin-bottom: 50px;
  min-height: 300px;
}

.projects_item a {
  text-decoration: none;
}

.projects_item img {
  width: 400px;
  height: 230px;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

.projects_item h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.projects_item p {
  font-size: 14px;
}

.projects_item_descr {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.projects_item_stack {
  margin-top: 20px;
  font-weight: 800;
}

@media only screen and (max-width: 768px) {
  .projects {
    width: 80%;
    margin: 0 auto;
  }
  .projects_wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects_item {
    width: 100%;
  }
  .projects_item a img {
    width: 100%;
    height: 50%;
    margin-bottom: 20px;
  }
}

::-webkit-scrollbar {
  width: 10px;
}

html[data-theme="dark"] ::-webkit-scrollbar-track {
  background: #292929;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

html[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #67A8B7;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

html[data-theme="light"] ::-webkit-scrollbar-track {
  background: #fffad2;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

html[data-theme="light"] ::-webkit-scrollbar-thumb {
  background: #5cc4bf;
  -webkit-transition: 0.2s all ease-in-out;
  transition: 0.2s all ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
/*# sourceMappingURL=style.css.map */